* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 156px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.gallery-item {
  flex: 1 1 calc(33.333% - 24px);
}

.gallery-link {
  display: block;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
}
